static {
  const model = require("./model.js")
}
class {
  increment() {
    model.count++
  }
  onMount() {
  }
}
<span mobx-observer>
    <button on-click("increment")>increment</button>

    <div>Greetings : ${model.greeting}</div>
    <div>Name : <print-name/></div>
    <div>Count : <print-count/></div>

    <div>try running in the console
      <ul>
        <li>model.name = 'Fred'</li>
        <li>model.greeting = 'Goodbye'</li>
      </ul>
    </div>

</span>
